.dark {
    background-color: #202124;
    color: #D5D7DA
  }
  #light{
    margin: 100px;
    padding: 50px;
    font-size: 100px;
  }
  .i{
    width: 97%;
    font-size: 20px;
    margin-left: 10px;
  }
  .i:hover{
    background-color: lightblue;
    font-size: 30px;
    cursor: pointer;

  }